<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Earth Betta</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="/images/icon-title.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="/images/icon-title.png" alt="logo" width="80" height="80">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Product
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Half Moon</a></li>
                      <li><a class="dropdown-item" href="#">Dragon</a></li>
                      <li><a class="dropdown-item" href="#">Crown Tail</a></li>
                      <li><a class="dropdown-item" href="#">Dumbo</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#all-product">All Product</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <ul class="navbar-nav  mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link ms-2" href="cart.html" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                              class="bi bi-cart3" viewBox="0 0 16 16">
                              <path
                                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                          </svg>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ms-2" href="#">
                      <button class="btn btn-outline-secondary" id="darkModeToggle">🌙 Dark Mode</button>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    
        <div class="container mt-4">
            <!-- Breadcrumb Navigation -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
                    <li class="breadcrumb-item"><a href="/#all-product">สินค้าทั้งหมด</a></li>
                    <li class="breadcrumb-item"><a href="#"><%= type %></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= bettaName %></li>
                </ol>
            </nav>
        
            <div class="row">
                <!-- Product Image Section -->
                <div class="col-md-6">
                    <div class="product-image">
                        <img id="mainImage" src="<%= mainImage %>" class="img-fluid" alt="Half Moon COPPER">
                    </div>
                    <div class="thumbnail-images d-flex justify-content-center mt-3">
                        <img src="<%= mainImage %>" alt="Thumbnail 1" class="img-thumbnail mx-2" style="width: 80px;" onclick="changeImage('<%= mainImage %>')">
                        <img src="<%= Thumbnail2 %>" alt="Thumbnail 2" class="img-thumbnail mx-2" style="width: 80px;" onclick="changeImage('<%= Thumbnail2 %>')">
                        <img src="<%= Thumbnail3 %>" alt="Thumbnail 3" class="img-thumbnail mx-2" style="width: 80px;" onclick="changeImage('<%= Thumbnail3 %>')">
                    </div>
                </div>
        
                <!-- Product Details Section -->
                <div class="col-md-6">
                    <h1 class="display-5"><%= bettaName %></h1>
                    <p class="sku">รหัสสินค้า: <strong><%= PKC %></strong></p>
                    <p class="price h4 text-primary"><%= price %> บาท</p>
        
                    <!-- Quantity and Buy Button Section -->
                    <div class="quantity-section mb-4">
                        <label for="quantity" class="form-label">จำนวน (ชิ้น):</label>
                        <input type="number" id="quantity" class="form-control" value="1" min="1" style="width: 100px;">
                    </div>
                    <div class="d-flex">
                        <a href="#" class="btn btn-primary btn-lg me-3">ซื้อเลย</a>
                        <a href="#" class="btn btn-secondary btn-lg">หยิบลงตะกร้า</a>
                    </div>
        
                    <!-- Delivery Info Section -->
                    <div class="delivery-info mt-4">
                        <p>สถานะสินค้า: <span class="text-success">พร้อมส่ง</span></p>
                        <p>ระยะเวลาจัดเตรียมสินค้า: 3 วัน</p>
                    </div>
        
                    <!-- Social Icons Section -->
                    <div class="social-icons d-flex mt-4">
                        <a href="https://www.facebook.com/AphidetEarth" target="_blank">
                            <svg width="30px" height="30px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                                <title>Facebook-color</title>
                                <desc>Created with Sketch.</desc>
                                <defs>
                            
                            </defs>
                                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Color-" transform="translate(-200.000000, -160.000000)" fill="#4460A0">
                                        <path d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z" id="Facebook">
                            
                            </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        
                        <a href="https://line.me/ti/p/56A8FV0a7m" target="_blank">
                            <svg width="30px" height="30px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30 14.4979C30 8.15792 23.7199 3 15.9999 3C8.28094 3 2 8.15792 2 14.4979C2 20.1817 6.98063 24.9417 13.7084 25.8418C14.1644 25.9412 14.7849 26.146 14.9419 26.5404C15.0831 26.8986 15.0342 27.4598 14.987 27.8216C14.987 27.8216 14.8227 28.8214 14.7873 29.0343C14.7264 29.3926 14.5061 30.4353 15.9999 29.7981C17.4942 29.1609 24.0626 24.9935 26.9998 21.572C29.0287 19.3204 30 17.0353 30 14.4979Z" fill="#2CCF54"/>
                                <path d="M13.1553 11.4244H12.1733C12.0228 11.4244 11.9004 11.5478 11.9004 11.6995V17.866C11.9004 18.0179 12.0228 18.1411 12.1733 18.1411H13.1553C13.3059 18.1411 13.428 18.0179 13.428 17.866V11.6995C13.428 11.5478 13.3059 11.4244 13.1553 11.4244Z" fill="white"/>
                                <path d="M19.9147 11.4244H18.9327C18.7821 11.4244 18.66 11.5478 18.66 11.6995V15.3631L15.8645 11.5467C15.8128 11.4683 15.729 11.4295 15.6375 11.4244H14.6558C14.5052 11.4244 14.3828 11.5478 14.3828 11.6995V17.866C14.3828 18.0179 14.5052 18.1411 14.6558 18.1411H15.6375C15.7883 18.1411 15.9104 18.0179 15.9104 17.866V14.2035L18.7094 18.0247C18.7597 18.0967 18.845 18.1411 18.9327 18.1411H19.9147C20.0655 18.1411 20.1874 18.0179 20.1874 17.866V11.6995C20.1874 11.5478 20.0655 11.4244 19.9147 11.4244Z" fill="white"/>
                                <path d="M10.7884 16.5969H8.12013V11.6998C8.12013 11.5476 7.99802 11.4241 7.84773 11.4241H6.86545C6.71489 11.4241 6.59277 11.5476 6.59277 11.6998V17.8652C6.59277 18.0149 6.71435 18.1411 6.86518 18.1411H10.7884C10.9389 18.1411 11.0605 18.0174 11.0605 17.8652V16.8725C11.0605 16.7203 10.9389 16.5969 10.7884 16.5969Z" fill="white"/>
                                <path d="M25.3372 12.9683C25.4878 12.9683 25.6094 12.8452 25.6094 12.6927V11.7C25.6094 11.5478 25.4878 11.4241 25.3372 11.4241H21.4143C21.2636 11.4241 21.1416 11.5501 21.1416 11.6998V17.8655C21.1416 18.0147 21.2633 18.1411 21.4137 18.1411H25.3372C25.4878 18.1411 25.6094 18.0174 25.6094 17.8655V16.8725C25.6094 16.7206 25.4878 16.5969 25.3372 16.5969H22.6692V15.5546H25.3372C25.4878 15.5546 25.6094 15.4311 25.6094 15.2789V14.2863C25.6094 14.1341 25.4878 14.0104 25.3372 14.0104H22.6692V12.9683H25.3372Z" fill="white"/>
                                </svg>
                        </a>
                        <a href="tel:0948751245" target="_blank">
                            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" id="phone-square" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><rect id="primary" x="2" y="2" width="20" height="20" rx="3" style="fill: rgb(0, 0, 0);"></rect><path id="secondary" d="M17.92,14.49A2.4,2.4,0,0,0,16.72,13c-.23-.12-.44-.24-.65-.37a2.38,2.38,0,0,0-3.22.63l-.71,1a13.52,13.52,0,0,1-2.39-2.39l1-.7a2.39,2.39,0,0,0,.63-3.23c-.13-.21-.25-.42-.37-.65a2.4,2.4,0,0,0-1.51-1.2,2.43,2.43,0,0,0-1.93.31l-.66.44a1.79,1.79,0,0,0-.87,2h0a10.25,10.25,0,0,0,1.46,3.33h0a13.26,13.26,0,0,0,1.94,2.38,13.26,13.26,0,0,0,2.38,1.94h0A10.34,10.34,0,0,0,15.19,18a2.18,2.18,0,0,0,.43.05,1.84,1.84,0,0,0,1.55-.92h0l.44-.66A2.43,2.43,0,0,0,17.92,14.49Z" style="fill: rgb(44, 169, 188);"></path></svg>
                        </a>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
    <script>
        function changeImage(imageSrc) {
            const mainImage = document.getElementById('mainImage');
            mainImage.src = imageSrc;
        }
    </script>
    <script>
        document.getElementById('darkModeToggle').addEventListener('click', function () {
            console.log("Dark Mode toggle clicked"); // ตรวจสอบว่าปุ่มถูกกดแล้ว
            document.body.classList.toggle('dark-mode');
            console.log("Dark Mode active: ", document.body.classList.contains('dark-mode')); // ตรวจสอบสถานะ dark-mode
            this.textContent = document.body.classList.contains('dark-mode') ? '☀️ Light Mode' : '🌙 Dark Mode';
        });
    </script>
    
</body>
    
</html>